<footer class="bg-base-200 py-6 mt-8">
	<div class="container mx-auto text-center">
		<p>
			&copy; 2024 <a
				href="https://mohammedsh.xyz"
				class="text-primary hover:underline">Mohammed Shajahan</a>
		</p>
		<p>
			<a
				href="https://github.com/username/repo"
				class="text-primary hover:underline">Source Code</a
			> - Testing Edition - Contribute to improve
		</p>
	</div>
</footer>
