<header class="bg-base-200 py-4 shadow-md">
	<div class="container mx-auto flex justify-between items-center px-6">
		<h1 class="text-3xl font-extrabold text-primary">
			<a href="/">Firebase Auth</a>
		</h1>
		<nav>
			<a href="/auth/login" class="text-gray-200 hover:text-primary mx-4"
				>Login</a
			>
			<a href="/auth/signup" class="text-gray-200 hover:text-primary mx-4"
				>Signup</a
			>
			<a href="/auth/user" class="text-gray-200 hover:text-primary mx-4"
				>User</a
			>
		</nav>
	</div>
</header>
