<section
	class="flex flex-col justify-center items-center min-h-screen px-4 text-center"
>
	<div>
		<h2 class="text-5xl md:text-7xl font-extrabold mb-6">
			Autho firbase authentication
		</h2>
		<p class="text-lg md:text-2xl mb-10">
			This project demonstrates how to implement Firebase Authentication
			using Astro actions
		</p>
		<a
			href="#"
			class="px-10 py-4 bg-primary text-white rounded-full hover:bg-secondary transition"
			>Get Started</a
		>
	</div>
</section>
