---
import InputBox from "../common/InputBox.astro"

type Props = {
	type: "login" | "signup"
}

const { type } = Astro.props
---

<form id="authForm">
	{
		type === "signup" ? (
			<div class="mb-4">
				<label for="fullName" class="block text-sm font-semibold mb-2">
					Full Name
				</label>
				<InputBox type="text" id="fullName" name="fullName" required />
			</div>
		) : (
			""
		)
	}
	<input type="hidden" name="formType" value={type} />

	<div class="mb-4">
		<label for="email" class="block text-sm font-semibold mb-2">Email</label
		>
		<InputBox type="email" id="email" name="email" required />
	</div>
	<div class="mb-6">
		<label for="password" class="block text-sm font-semibold mb-2"
			>Password</label
		>
		<InputBox type="password" id="password" name="password" required />
	</div>
	<button
		type="submit"
		class="w-full px-4 py-2 bg-primary text-white rounded-lg hover:bg-secondary transition"
		>{type === "signup" ? "Signup" : "Login"}</button
	>
</form>

<script src="../../scripts/auth.ts"></script>
